nbproject/private/
build/
nb-configuration.xml
nbbuild/
dist/
nbdist/
target/
query/nbproject/private/
query/build/
query/nb-configuration.xml
query/nbbuild/
query/dist/
query/nbdist/
query/target/
load/nbproject/private/
load/build/
load/nb-configuration.xml
load/nbbuild/
load/dist/
load/nbdist/
load/target/
/query/nbactions.xml
